# Hello there

In [1]:
from db.templates import Templates
import pandas as pd

In [2]:
templates = Templates()

In [11]:
resp = templates.fromSqlFile("fib-type.tpl.sql", (20, [3, 5]))
df = pd.DataFrame(resp)
df

     0      1
0    1      3
1    2      5
2    3      8
3    4     13
4    5     21
5    6     34
6    7     55
7    8     89
8    9    144
9   10    233
10  11    377
11  12    610
12  13    987
13  14   1597
14  15   2584
15  16   4181
16  17   6765
17  18  10946
18  19  17711
19  20  28657

In [2]:
import psycopg2

conn = psycopg2.connect(
    **{
        "host": "sql-algo-workshop-postgres",
        "port": 5432,
        "dbname": "experiments",
        "user": "postgres",
        "password": "root",
    }
)
cur = conn.cursor()
cur.execute(
    """
    DROP TABLE IF EXISTS "cats";

    CREATE TABLE "cats" (
        "id" SERIAL,
        "name" VARCHAR(30)
    )
    ;
"""
)
cur.executemany(
    """INSERT INTO "cats" VALUES (%(id)s, %(name)s);""",
    [
        {
            "id": 1,
            "name": "butt",
        },
        {
            "id": 2,
            "name": "lolo",
        },
        {
            "id": 3,
            "name": "lolo",
        },
    ],
)
# conn.commit()
# response = cur.fetchall()
cur.close()
# response
# response
cur = conn.cursor()
cur.execute("""SELECT * FROM "cats"; """, {})
resp = cur.fetchall()
cur.close()
conn.close()
resp

[(1, 'butt'), (2, 'lolo'), (3, 'lolo')]

In [13]:
import datetime
import psycopg2

conn = psycopg2.connect(
    **{
        "host": "sql-algo-workshop-postgres",
        "port": 5432,
        "dbname": "experiments",
        "user": "postgres",
        "password": "root",
    }
)

cur = conn.cursor()
cur.execute(
    """
    DROP TABLE IF EXISTS "with_date";

    CREATE TABLE "with_date" ( 
        "id" SERIAL, 
        "date" TIMESTAMPTZ
    )
    ;
"""
)
cur.executemany(
    'INSERT INTO "with_date" ("date") VALUES (%(date_value)s)',
    [
        {
            "date_value": datetime.datetime(2013, 2, 1, 12, 11),
        }
    ],
)

cur.close()
cur = conn.cursor()
cur.execute('SELECT * FROM "with_date";')
resp = cur.fetchall()
cur.close()
conn.close()
resp

[(1, datetime.datetime(2013, 2, 1, 12, 11, tzinfo=datetime.timezone.utc))]